<div class='plan-selector'>
    <div class='package'>
        <div class='name'>Limited</div>
        <div class='price'>€2</div>
        <div class='trial'>Available for a month</div>
        <hr>
        <ul>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>8</strong> team members
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>6</strong> team playlists
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>Unlimited</strong> public playlists
            </li>
        </ul>
        <button class="choose-plan">Choose plan</button>
    </div>
    <div class='package brilliant'>
        <span class="material-icons-outlined brilliant__verification-icon">done</span>
        <div class='name'>Brilliant</div>
        <div class='price'>€5</div>
        <div class='trial'>Free 30 day trial</div>
        <hr>
        <ul>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>Unlimited</strong> team members
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>Unlimited</strong> team playlists
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>Unlimited</strong> public playlists
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span> Team analytics
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span> Send files
            </li>
        </ul>
        <button class="choose-plan">Choose plan</button>
    </div>
    <div class='package'>
        <div class='name'>Basic</div>
        <div class='price'>€0</div>
        <div class='trial'>Totally free</div>
        <hr>
        <ul>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>5</strong> team members
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>3</strong> team playlists
            </li>
            <li>
                <span class="material-icons-outlined verification-icon">done</span>
                <strong>Unlimited</strong> public playlists
            </li>
        </ul>
        <button class="choose-plan">Choose plan</button>
    </div>
</div>
