<div class="home-container">
    <h1>wanda-elements</h1>

    <h2>Intro</h2>
    <p><strong>wanda-elements</strong> is a list of UI components and micro-interactions built with Angular.</p>
    <p>Although they have been implemented as different Angular components, they are mainly designed with HTML and SCSS only, so it should be simple to use them in every other environment.</p>

    <h2>Useful links</h2>
    <a target="_blank" href="https://github.com/aLosada7/wanda-elements">
        https://github.com/aLosada7/wanda-elements
    </a>
</div>
