<div class="small-notification">
    <div class="small-notification__content">
        <span class="material-icons-outlined small-notification__content__icon success">
            check
        </span>
        <span class="small-notification__content__text">Succesful work.</span>
    </div>
    <button class="material-icons-outlined">close</button>
</div>
<div class="small-notification">
    <div class="small-notification__content">
        <span class="material-icons-outlined small-notification__content__icon failure">
            error_outline
        </span>
        <span class="small-notification__content__text">Something went wrong.</span>
    </div>
    <button class="material-icons-outlined">close</button>
</div>
