<div class="wrapper">
    <div class="dropdown-button">
        <button class="dropdown-button__button" (click)="showDropdownItems = !showDropdownItems">
            <div>Dropdown button</div>
            <span class="material-icons-outlined">keyboard_arrow_down</span>
        </button>
        <ul *ngIf="showDropdownItems" class="dropdown-button__items">
            <li>
                <span class="material-icons-outlined">accessibility_new</span>
                <div>Profile</div>
            </li>
            <li>
                <span class="material-icons-outlined">settings</span>
                <div>Settings</div>
            </li>
            <li>
                <span class="material-icons-outlined">mark_chat_unread</span>
                <div>Chat</div>
            </li>
        </ul>
    </div>
</div>
