<div class="layout">
    <mcs-sidebar class="sidebar layout__left" [sections]="sections">sidebar</mcs-sidebar>
    <div class="layout__right">
        <mcs-toolbar class="toolbar" [sections]="sections">toolbar</mcs-toolbar>
        <div class="layout-content">
            <router-outlet></router-outlet>
            <mcs-small-notification
                *ngIf="showNotification"
                class="notification"
                [success]="success"
                [text]="text"
                (onDismiss)="onDismiss()"></mcs-small-notification>
        </div>
    </div>
</div>
