@import '~src/variables';

@mixin toolbarIcons {
    background-color: #202D34;
    position: absolute;
    cursor: pointer;
}

.toolbar-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $secondary-color;

    &__github-icon {
        @include toolbarIcons();
        left: 12px;
        fill: $secondary-color;
    }

    &__menu {
        @include toolbarIcons();
        right: 12px;
    }
}

.toolbar-navbar {

    &__section {
        color: $grey;
        padding: 12px;

        &__subsection {
            margin-left: 16px;
            padding: 8px;
        }
    }
}
