.large-notification {
    box-shadow: rgb(0 0 0 / 11%) 0 0 0 1px, rgb(0 0 0 / 5%) 0 10px 10px -5px;
    background: white;
    width: 320px;
    border-radius: 10px;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 0.35s;
    position: relative;
    padding: 1.5rem;

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 22px 20px;
        color: rgba(16, 17, 47, 0.57);
        transition: color 0.35s;
        border: 0;
        background: transparent;
    }

    &__title {
        font-weight: 700;
        color: rgba(16, 19, 47, 0.85);
        margin-bottom: 1.5rem;
    }

    &__content {
        margin: 0 0 1rem;
        color: rgba(16, 19, 47, 0.5);
        margin-bottom: 0.6rem;
    }
}
