@import '~src/styles';
@import '~src/variables';

.password-input {
    position: relative;
    background: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-color;
    height: 56px;

    &__input {
        flex: 1;
        border: 0;
        outline: none;
        background: transparent;
        text-indent: 1rem;
        font-size: 1.25rem;
        width: 200px;
    }

    &__icon {
        padding: 0 1rem;
        position: relative;
        display: flex;
        align-items: center;
        width: 56px;
        height: 56px;
    }

    &__submit {
        position: relative;
        background: $primary-color;
        width: 56px;
        height: 56px;
        border-radius: 0 5px 5px 0;
        color: white;
    }
}
